
@model PhoneBook.Areas.Admin.Models.AddWorkerViewModel
@{
    Layout = null;
}
<head>
    <link href="~/Content/AdminHomeform.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<div class="container">
    @using (Html.BeginForm("Edit", "AdminHome", new { Area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.HiddenFor(x=>x.WorkerId)



        <div class="col-md-5">
            <div class="form-area">
                <form role="form">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Çalışan Güncelle</h3>
                    <div class="form-group">
                        <label class="form-label" for="Name"> Ad</label>
                        @Html.TextBoxFor(x => x.name, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Name">Soyad</label> @*// label degil de kutucuk içinde yazmayı sor*@
                        @Html.TextBoxFor(x => x.surname, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Name"> Telofon</label>
                        @Html.TextBoxFor(x => x.phone, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Name">Soyad</label> @*// label degil de kutucuk içinde yazmayı sor*@
                        @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Name"> Departman</label>
                        @Html.DropDownListFor(x => x.departmentid, Model.DepartmentList, "Departman Seçiniz", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Name"> Yönetici</label>
                        @Html.DropDownListFor(x => x.managerid, Model.ManagerList, "Yönetici Seçiniz", new { @class = "form-control" })
                    </div>


                    <button type="submit" name="submit" class="btn btn-primary pull-right">Kaydet</button>
                </form>
            </div>
        </div>
    }

</div>

<script src="~/Content/js/form.js"></script>


